{% extends "base_logged.html" %}

{% block content %}
<div class="">
    <h1>{{ account.name }} ({{ account.shortcode }})</h1>
    <hr/>

    <div class="equalize row">
        <div class="one half">
            <h2>Features <a class="small" href="{% url "feature_add" account.shortcode %}" title="Add new Feature"><i class="icon-plus"></i></a></h2>

            <div class="gap-right">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Level</th>
                      <th>Value</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for feature in account.features.all %}
                    <tr id="feature-{{feature.pk}}">
                      <td><a href="{% url "feature_edit" account.shortcode feature.pk %}">{{ feature.name }}</a></td>
                      <td>{{ feature.permission_type }}</td>
                      <td>{{ feature.permission_level }}</td>
                      <td>{{ feature.permission_value }}</td>
                      <td class="align-right">
                        <a href="javascript:removeFeature('{{ account.shortcode }}', {{ feature.pk }})">
                          <i class="icon-remove icon-1x error"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <div class="one fourth">
            <h2>Qualifiers <a class="small" href="{% url "qualifier_add" account.shortcode %}" title="Add new Qualifier"><i class="icon-plus"></i></a></h2>

            <div class="gap-right">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for qualifier in account.qualifiers.all %}
                    <tr id="qualifier-{{qualifier.pk}}">
                      <td><a href="{% url "qualifier_edit" account.shortcode qualifier.pk %}">{{ qualifier.name }}</a></td>
                      <td class="align-right">
                        <a href="javascript:removeQualifier('{{ account.shortcode }}', {{ qualifier.pk }})">
                          <i class="icon-remove icon-1x error"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>

        <div class="one fourth">
            <h2>WebHooks <a class="small" href="{% url "webhook_add" account.shortcode %}" title="Add new WebHook"><i class="icon-plus"></i></a></h2>

            <div>
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for webhook in account.webhooks.all %}
                    <tr id="webhook-{{webhook.pk}}">
                      <td><a href="{% url "webhook_edit" account.shortcode webhook.pk %}">{{ webhook }}</a></td>
                      <td class="align-right">
                        <a href="javascript:removeWebhook('{{ account.shortcode }}', {{ webhook.pk }})">
                          <i class="icon-remove icon-1x error"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row padded">
        <h2>Settings</h2>

        <p class="box success">
            Shortcode: <b>{{ account.shortcode }}</b><br/>
            API Key: <b>{{ account.api_key }}</b>
        </p>

        <div class="row">
            <p class="fourth align-center"><a href="http://github.com/marinho/bipolar-server/wiki/GettingStarted" target="_blank">Getting started</a></p>
            <p class="fourth align-center"><a href="http://github.com/marinho/bipolar-server/wiki/Clients" target="_blank">Clients</a></p>
            <p class="fourth align-center"><a href="http://github.com/marinho/bipolar-server/wiki/" target="_blank">Documentation</a></p>
            <p class="fourth align-center"><a href="http://github.com/marinho/bipolar-server" target="_blank" title="@bipolar-server">GitHub</a></p>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_post_scripts %}
<script>
function removeFeature(shortcode, featurePk){
    if (!confirm("Are you sure?")) return

    var url = "/accounts/" + shortcode + "/features/" + featurePk + "/delete/";
    $.post(url, function(resp){
        $("#feature-" + featurePk).remove();
    });
}

function removeQualifier(shortcode, qualifierPk){
    if (!confirm("Are you sure?")) return

    var url = "/accounts/" + shortcode + "/qualifiers/" + qualifierPk + "/delete/";
    $.post(url, function(resp){
        $("#qualifier-" + qualifierPk).remove();
    });
}

function removeWebhook(shortcode, webhookPk){
    if (!confirm("Are you sure?")) return

    var url = "/accounts/" + shortcode + "/webhooks/" + webhookPk + "/delete/";
    $.post(url, function(resp){
        $("#webhook-" + webhookPk).remove();
    });
}
</script>
{% endblock body_post_scripts %}
