{% extends "base.html" %}

{% block navigation %}
<nav role="navigation" class="nav gap-top" title="Menu"><button class="hamburger"></button>
  <ul role="menubar">
    <li><a href="/"><i class="icon-home"></i> Home</a></li>
    <li><a href="{% url "profile" %}">Profile</a></li>
    <!-- <li><a href="/logout/">Logout</a></li> -->
    <!-- <li role="menu">
      <button>Example Layouts</button>
      <ul role="menu">
        <li><a href="./layout-a.html">Web Page</a></li>
      </ul>
    </li> -->
  </ul>
</nav>
{% endblock navigation %}

{% block content %}
{% endblock content %}

