{% extends "base_logged.html" %}

{% block content %}
<div class="row">
    <div class="equalize row">
        <div class="two third">
            <h2>Accounts <a class="small" href="{% url "account_add" %}" title="Add new Account"><i class="icon-plus"></i></a></h2>

            <div id="userAccounts" class="row">
                {% for user_account in user.accounts.all %}
                <div id="account-{{ user_account.account.shortcode }}" class="box info gap-bottom">
                    <a href="javascript:removeAccount('{{ user_account.account.shortcode }}')"
                       class="button small"
                       style="float:right">
                        <i class="icon-remove"> Delete</i></a>

                    <h4><a href="{% url "account_view" user_account.account.shortcode %}">
                      {{ user_account.account.name }} ( {{ user_account.account.shortcode }} )</a></h4>

                    <div class="row">
                        <span class="one third">{{ user_account.account.features.count }} Feature(s)</span>
                        <span class="one third">{{ user_account.account.qualifiers.count }} Qualifier(s)</span>
                        <span class="one third">{{ user_account.account.webhooks.count }} Webhook(s)</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="one twelfth padded"></div>

        <div class="three twelfth padded box alert">
            <h3>Documentation</h3>

            <ol class="list padded">
                <li class="alert"><a href="//marinho.github.io/bipolar-server/docs/getting-started.html" class="medium">Getting started</a></li>
                <li class="alert"><a href="//marinho.github.io/bipolar-server/docs/clients.html" class="medium">Clients</a></li>
                <li class="alert"><a href="//marinho.github.io/bipolar-server/docs/" class="medium">Index</a></li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_post_scripts %}
<script>
function removeAccount(shortcode){
    if (!confirm("Are you sure?")) return

    var url = "/accounts/" + shortcode + "/delete/";
    $.post(url, function(resp){
        $("#account-" + shortcode).remove();
    });
}
</script>
{% endblock body_post_scripts %}
