{% extends "base_logged.html" %}

{% block content %}
<div class="row">
    <div class="equalize row">
        <div class="one half">
            <h2>Accounts <a class="small" href="{% url "account_add" %}" title="Add new Account"><i class="icon-plus"></i></a></h2>

            <ul id="userAccounts" class="list">
                {% for user_account in user.accounts.all %}
                <li id="account-{{ user_account.account.shortcode }}">
                  <a href="{% url "account_view" user_account.account.shortcode %}">
                     {{ user_account.account.name }} ( {{ user_account.account.shortcode }} )</a>
                  <a href="javascript:removeAccount('{{ user_account.account.shortcode }}')"><i class="icon-remove icon-1x error"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="one fourth padded">
            <div class="box info">
                <h3>Introduction</h3>
            </div>
        </div>

        <div class="one fourth padded">
            <div class="box question">
                <h3>Documentation</h3>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block body_post_scripts %}
<script>
function removeAccount(shortcode){
    if (!confirm("Are you sure?")) return

    var url = "/accounts/" + shortcode + "/delete/";
    $.post(url, function(resp){
        $("#account-" + shortcode).remove();
    });
}
</script>
{% endblock body_post_scripts %}
