{% extends "base_logged.html" %}

{% block content %}
<div class="">
    <h1><a href="{% url "account_view" account.shortcode %}" rel="prev">{{ account.shortcode }}</a> /
        {% if feature %}{{ feature.name }}{% else %}New Qualifier{% endif %}</h1>
    <hr/>

    <form class="row" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="one half padded {% if form.name.errors %}invalid{% endif %}">
                <label for="name">Name {% if form.name.errors %}<span class="error">{{ form.name.errors.0 }}</span>{% endif %}</label>
                {{ form.name }}
            </div>
        </div>

        <div class="row padded">
            <table class="info">
                <thead>
                    <tr>
                        <th class="four fifth padded">Feature</th>
                        <th class="one fifth padded">Permission</th>
                    </tr>
                </thead>

                <tbody>
                    {% for permission in permissions %}
                    <tr>
                        <td class="four fifth">
                            {{ permission.feature.name }}
                        </td>
                        <td class="one fifth">
                            {% if permission.feature.permission_type == "boolean" %}
                            <select name="permission-{{permission.feature.pk}}" class="permissionBooleanValue" {% if not permission.is_set %}style="display:none"{% endif %}>
                                <option value="" {% if permission.permission_value == None %}selected="selected"{% endif %}>Default</option>
                                <option value="true" {% if permission.permission_value == True %}selected="selected"{% endif %}>Yes</option>
                                <option value="false" {% if permission.permission_value == False %}selected="selected"{% endif %}>No</option>
                            </select>
                            {% else %}
                            <input name="permission-{{permission.feature.pk}}" class="permissionLimitValue" value="{{ permission.permission_value }}"
                            type="number" {% if not permission.is_set %}style="display:none"{% endif %}>
                            {% endif %}

                            <a href="javascript:void(0)" class="changeFromDefault" {% if permission.is_set %}style="display:none"{% endif %}>Default</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row padded">
            <button type="submit">Save Feature</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block body_post_scripts %}{{ block.super }}
<script>
$(document).ready(function(){
    // Shows input for changing value from Default
    $(".changeFromDefault").click(function(){
        $(this).hide();
        $(this).parent().find("input, select").show();
    });

    // When leaving the field, if empty, shows link instead
    $(".permissionBooleanValue, .permissionLimitValue").change(function(){
        if (!$(this).val()) {
            $(this).hide();
            $(this).parent().find(".changeFromDefault").show();
        }
    });
});
</script>
{% endblock %}

